.search-container {
  position: relative;
}

form {
  display: flex;
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 1rem 2rem;
  width: 50%;
  max-width: 40rem;
  margin: auto;
}

.input-submit,
.search-bar {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.search-bar {
  flex: 1;
  font-size: 1rem;
}

.search-bar::placeholder {
  color: #fff;
}

.input-submit {
  font-size: 1.6rem;
}

.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--yellow);
  border-color: var(--yellow) transparent var(--yellow) transparent;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
