*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navy-blue: #252b48;
  --grey: #445069;
  --green: #5b9a8b;
  --yellow: #f7e987;
}

html {
  background-color: var(--navy-blue);
  color: #fff;
}

.empty-text {
  text-align: center;
  margin-top: 10%;
  color: #e0d9d99a;
}

.heart-icon {
  font-size: 1.5rem;
}
